
.leftfooter{
  width: 37%;
  height:100%;
  background-color: white;
  display:inline-block;
  vertical-align: top;
  padding-left: 5%;
  padding-right: 7%;
    h3{
      font-size: 1rem;
    }
    p{
      font-size: .6rem;
    }
    ul{
      list-style-type: none;
      display:inline-block;
      width:40%;
      margin:0 auto;
      text-align: center;
      position:relative;
      background-color: white;
      padding-left: 0%;
    }
    li{
      display: inline-block;
      width: 22%;
      margin:0 auto;
      background-color:white;
      padding-left:0%;
      text-align: left;
    }
}
