
.rightfooter{
  display:inline-block;
  background-color:white;
  width: 38%;
  display:inline-block;
  vertical-align: top;
  padding-left: 10%;
  height:100%;
  margin-left: 1.5%;
}
.name{
  width: 80%;
  border: grey 2px solid;
}
.email{
  width: 80%;
  border: grey 2px solid;
}
.message{
  width:80%;
  border: grey 2px solid;
  padding-bottom: 20%;
}
