@import 'mobile';

/*  background image   */
body{
  background-image: url("./images/bg.jpg");
  background-color: rgba(0,0,0,.56);
  background-size: cover;
  background-blend-mode: color;
  background-repeat:no-repeat;
}
#wrapper{
  width:60%;
  margin:0 auto;

}

/* -----------this made putting stuff on top tricky---------
.img-container {
  background-color: #000000;
  background-size: cover;
  height:100%;
  width:100%;
}

.img-container img {
  opacity: 0.5;
}*/

/* first navigation bar    */
header{
  width:100%;
  text-align: right;
}

.navbar1{
  /*vertical-align: top;*/
  /*position:absolute;*/
  display: inline;
  /*margin:0 auto;*/
  width:100%;
  height:20%;
  text-align: right;
  /*padding-right: 0%;
  padding-left: 50%;*/
}

.navbar1 ul{
  list-style-type: none;
  display:inline-block;
}

.navbar1 li {
  display: inline;
  /*padding-left: 5%*/
}
.navbar1 li:first-child{
  color:white;
  font-size: .5rem;
/* -----need to adjust up a little bit-------*/
}

.navbar1 img{
  height:35px;
}

.navbar1 li:nth-child(2){
    border-left: white 2px dotted;
    padding-left: 5%;
}

.navbar2{
  position:relative;
  display: inline-block;
  margin:0 auto;
  width: 100%;
  padding-bottom: 4%;
  /*height:6%;
  padding-left: 10%;*/
}

.navbar2 ul{
  list-style-type: none;
  display:inline-block;
  width:100%;
  margin:0 auto;
  padding-left: 0%;
  /*padding-top: 13%;*/
  text-align: center;
  position:relative;

}

.navbar2 li{
  display: inline-block;
  width: 24.5%;
  margin:0 auto;
  background-color:maroon;
  color:lightgrey;
  font-size: .3rem;
  padding-right:0%;
  text-align: center;
}

.movingimg span{
  width:100%;
  position:relative;
  display: inline-block;
  text-align: center;
  /*padding-left: 14%;*/
  padding-top: 5%;
}

.movingimg{
  border: white 6px solid;
  width:100%;
  height:100%;
  position:relative;
  display: inline-block;
  text-align: center;
}


.mainimage{
background-image: url( "grid.png") , url("top-image.jpg");
/*background-color: rgba(0,0,0,.56);*/
background-size: cover;
/*background-blend-mode: color;*/
background-repeat:no-repeat;
background-position-x:50%;
background-position-y:50%;
width:100%;
height:350px;
zoom:87%;
}

.logo{
  width:30%;
  height:75%;
  padding:bottom:90%;
  padding-right:50%;
  padding-top: 0%;
}

.logo img{
  position:absolute;
  height:70%;
  vertical-align: top;
  margin-top: -32%;
  margin-left: -13%;
}

.articles {
  width:100%;
  height:30%;
  position:relative;
  display: inline-block;
  padding-top: 4%;
}

.articles article{
  /*text-align: center;*/
  /*color:grey;*/
  width:29.2%;
  height:300px;
  display:inline-block;
  background-color: white;
  border: white solid 5px;
  font-size: .3rem;
  padding-right: 1%;
  vertical-align: top;
  margin-left: 1.5%;
  /*line-height:2;*/
}

.articles h4{
  color:grey;
  font-size: 1.2rem;
  margin-left: 4px;
  margin:right:4px;
}

.articles h5{
  color: red;
  text-align: center;
}

.date {
  color:lightgrey;
  text-align: left;
  margin-left: 4px;
  margin:right:4px;
}
.main{
  color:grey;
  text-align: left;
  font-size: .3rem;
  line-height: 2;
  margin-left: 4px;
  margin:right:4px;
}

/*    pictures of skaters    */

.skaters{
  padding-top: 4%;
  display: inline-block;
  color:white;
  vertical-align: top;
}
.skaters h1{

}
.col-2{
  background-image: url("./images/sk8er-2.png");
  background-size: 300%;
  background-repeat:no-repeat;
  width:250px;
  height: 350px;
  margin:auto 0;
  display: inline-block;
  position:absolute;
  border:white 2px solid;
  vertical-align: top;
  background-position-x: 80%;
  background-position-y: 9%;

}
/*.col-2 img{
  width:100%;
  display: inline-block;
}*/

.col-1{
  width:68%;
  height:350px;
  display: inline-block;
  position:relative;
  border:white 2px solid;
}

.row-1{
  width:100%;
  height:48%;
  display: inline-block;
  border-bottom: :white 2px solid;
}

.rowcol-1{
  background-image: url("images/sk8er-4.png");
  width:49%;
  height: 100%;
  display: inline-block;
  border-right:white 2px solid;
  background-position-x: 98%;
  background-position-y: 40%;
}
/*.rowcol-1 img{
  width: 48%;
  display: inline-block;
}*/

.rowcol-2{
  background-image: url("./images/sk8er-3.png");
  width:49%;
  height: 100%;
  display: inline-block;
  background-position-x: 27%;
  background-position-y: 9%;
}
/*.rowcol-2 img{
  width:100%;
  display: inline-block;
}*/
.row-2{
  background-image: url("./images/sk8er-1.png");
  width: 100%;
  height: 52%;
  display: inline-block;
  background-position-x: 8%;
  background-position-y: 228%;
  border-top: white solid 2px;
  border-bottom: white solid 2px;
}

/*    skateboards   */
.skateboards{
  list-style-type: none;
  display:inline-block;
  width:100%;
  height:100%;
  margin:0 auto;
  text-align: center;
  position:relative;
  padding-top: 4%;
}

.skateboards ul{
  list-style-type: none;
  display:inline-block;
  width:100%;
  margin:0 auto;
  text-align: center;
  position:relative;
  background-color: white;
  padding-left: 0%;
  padding-top: 0%;
}

.skateboards li{
  display: inline-block;
  width: 7%;
  margin:0 auto;
  background-color:white;
  padding:.75%;
  padding-right: 1.5%;
  text-align: center;
}

/*Hover code found on codeitpretty.com  - Thank you codeitpretty! */

.skateboards img:hover {
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

/*   footer  */

footer{
  display:inline-block;
  padding-top: 4%;
  width:100%;
  height:200px;
  /*vertical-align: top;*/
}

.leftfooter{
  width: 37%;
  height:100%;
  background-color: white;
  display:inline-block;
  vertical-align: top;
  padding-left: 5%;
  padding-right: 7%;
}
.leftfooter h3{
  font-size: 1rem;
}

.leftfooter p{
  font-size: .6rem;
}

.leftfooter ul{
  list-style-type: none;
  display:inline-block;
  width:40%;
  margin:0 auto;
  text-align: center;
  position:relative;
  background-color: white;
  padding-left: 0%;
}
.leftfooter li{
  display: inline-block;
  width: 22%;
  margin:0 auto;
  background-color:white;
  padding-left:0%;
  text-align: left;
}

.rightfooter{
  display:inline-block;
  background-color:white;
  width: 38%;
  display:inline-block;
  vertical-align: top;
  padding-left: 10%;
  height:100%;
  margin-left: 1.5%;
}
.name{
  width: 80%;
  border: grey 2px solid;
}
.email{
  width: 80%;
  border: grey 2px solid;
}
.message{
  width:80%;
  border: grey 2px solid;
  padding-bottom: 20%;
}
